body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: firebrick;
    margin: 0;
    background-image: url("https://w0.peakpx.com/wallpaper/129/278/HD-wallpaper-i-wantyou-inside-me-burger-cute-weird-food-random-awesome-simple-funny-burger.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    padding: 0;
    font-family: 'century gothic';
    flex-wrap: wrap;

    ul {
        list-style-type: none;
    }

    li {
        font-size: 1.25em;
    }
}

.background-image {
    margin: 0;
    padding: 0;
    position: absolute;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    min-width: 250px;
    flex: 1;
    padding: 25px;
}

.-flex:first-child {
    flex: 2;
    padding: 25px;
}

.dimaburger {
    width: 65px;
}

.fondonavbar {
    background-color: black;
}

.contenedor {
    background-color: burlywood;
    font-size: 25px;
    opacity: .9;
    border-radius: 25px;
}

.contenedor2 {
    background-color: burlywood;
    font-size: 30px;
    opacity: .9;
    border-radius: 35px;
    height: 360px;
}

.navegador li {
    margin: 15px;
    list-style: none;

}

.navegador li a {
    text-decoration: none;
    color: wheat;
    font-weight: 800;
}

.Cajamasprincipal {
    display: flex;
    padding: 3em 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.CajaPrincipal {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 2px black;
    width: 90%;
    padding: 20px 100px 100px 100px;
    height: min-content;
}

.cajitas1 {
    margin-right: 10px;
    grid-area: cajita1;
}

.cajitas2 {
    margin-right: 10px;
    grid-area: cajita2;
}

.cajitas3 {
    margin-right: 10px;
    grid-area: cajita3;
}

.cajitas4 {
    margin-right: 10px;
    grid-area: cajita4;
}

.cajitas5 {
    grid-area: cajita5;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    font-size: 25px;
    opacity: .9;
    border-radius: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    max-width: 100%;
    height: auto;
}
@media  (min-width:730px) and (max-width:1023px) {
    .TituloPrincipal {
        font-size: 50px;
    }
    .parrafoprincipal {
        font-size: 35px;
    }
    .cajapadre {
        display: grid;

        grid-template-areas:
            "cajita1 cajita2"
            "cajita3 cajita4"
            "cajita5 cajita5"
        ;
    }

}

@media (max-width:729px) {
    .TituloPrincipal {
        font-size: 50px;
    }
    .parrafoprincipal {
        font-size: 35px;
    }
    .cajapadre {
        display: grid;
        place-items: center;
        grid-template-areas:
            "cajita1"
            "cajita2"
            "cajita3"
            "cajita4"
            "cajita5"
        ;
    }

}
