@media screen and (max-width: 2560px) and (min-width: 1024px) {
    .cajapadre {
        display: grid;
        grid-gap: 20px 1px;
        place-items: center;
        grid-template-areas:
        "cajita1 cajita2 cajita3 cajita4 cajita5";
    }
}

@media screen and (max-width: 1023px) and (min-width: 730px) {
    .TituloPrincipal {
        font-size: 25px;
    }
    .parrafoprincipal {
        font-size: 20px;
    }
    .cajapadre {
        display: grid;
        grid-gap: 20px 1px;
        place-items: center;
        grid-template-areas:
        "cajita1 cajita2"
        "cajita3 cajita4"
        "cajita5 cajita5";
    }
}

@media screen and (max-width: 729px) and (min-width:105px) {
    .TituloPrincipal {
        font-size: 25px;
    }
    .parrafoprincipal {
        font-size: 20px;
    }
    .cajapadre {
        display: grid;
        place-items: center;
        grid-template-areas:
            "cajita1"
            "cajita2"
            "cajita3"
            "cajita4"
            "cajita5";
    }
}

@media screen and (max-width: 144px) and (min-width:730px) {
    .imagentrabajo1{
        height: auto; 
        max-width: 100%;
    }
}